@media screen and (max-width: 576px) {
    .banner-section{
        margin-top: 30px;
        justify-content: space-around;
        gap: 40px;
        margin-bottom: 35px;
    }

    nav{
        width: 60%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav-footer-list{
        flex-direction: column;
        align-items: center;
        gap: 21.44px;
    }

    .banner-content{
        max-width: 100vw;
        margin: 0 auto;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner-left{
        width: 80%;
        height: 350px;
        margin: 0 auto;
    }

    .banner-left img{
        width: 100%;
        height: 100%
    }

    .banner-left-content{
        width: 60%;
    }  

    .banner-left-content h3{
        font-size: 1.3rem;
    }

    .banner-left-content h1{
        font-size: 2.5rem;
    }

    .banner-left-content p{
        font-size: 0.6rem;
    }

    .banner-left-buttons{
        gap: 7px;
        margin-top: 25px;
    }

    .banner-left-buttons .btn-pink, .btn-sky{
        padding: 10px 15px;
        font-size: 0.6rem;
    }

    .banner-image{
        width: 80%;
        height: 50%;
        margin: 0 auto;
    }

    .banner-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .gamer-section{
        margin-bottom: 90px;
    }

    .gamer-section-container{
        max-width: 80%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .gamer-image-container{
        width: 100%;
        height: 50%;
    }

    .gamer-image-container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .gamer-content-container{
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .gamer-heading{
        font-size: 1.5rem;
        text-align: center;
    }

    .gamer-description{
        font-size: 0.6rem;
        line-height: 16px;
        text-align: center;
    }

    .gamer-content-container .btn-pink{
        padding: 12px 18px;
    }

    .gamer-purpose{
        font-size: 0.8rem;
        text-align: center;
        margin: 0;
    }

    .gamer-purpose-quote{
        font-size: 1rem;
        text-align: center;
    }

    .online-games-section{
        margin-bottom: 50px;
    }

    .online-games-section-container{
        max-width: 100%;
    }

    .online-games-headings{
        width: 90%;
        margin: 0 auto;
    }

    .online-games-headings h1{
        font-size: 1.5rem;
    }

    .online-games-headings p{
        font-size: 0.6rem;
    }

    .online-games-container{
        width: 70%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .online-games p{
        font-size: 0.6rem;
        text-align: center;
        margin-top: 10px;
    }

    #online-games-three p{
        width: 100%;
    }

    .play-instant-section{
        margin-bottom: 80px;
    }

    .play-instant-section-container{
        flex-direction: column;
        gap: 30px;
    }

    .play-instant-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .play-instant-content h1{
        width: 100%;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: center;
    }

    .play-instant-content p{
        width: 80%;
        font-size: 0.6rem;
        line-height: 16px;
        text-align: center;
    }

    .play-instant-image{
        width: 80%;
        height: 50%;
        margin: 0 15% 0 17%;
        position: relative;
    }

    .play-instant-image img{
        width: 100%;
        object-fit: contain;
    }

    .play-online-section{
        margin-bottom: 80px;
    }

    .play-online-section-container{
        flex-direction: column;
        gap: 30px;
    }

    .play-online-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .play-online-content h1{
        width: 100%;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: center;
    }

    .play-online-content p{
        width: 80%;
        font-size: 0.6rem;
        line-height: 16px;
        text-align: center;
    }

    .play-online-image{
        width: 80%;
        height: 50%;
        margin: 0 20% 0 5%;
        position: relative;
    }

    .play-online-image img{
        width: 100%;
        object-fit: contain;
    }

    .career-section{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .career-content-container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .career-content{
        width: 80%;
    }

    .career-heading{
        font-size: 1.5rem;
    }

    .career-description{
        font-size: 0.6rem;
    }

    .staff-location p{
        font-size: 0.6rem;
    }

    .career-content button{
        padding: 12px 24.5px;
        font-size: 0.65rem;
    }

    .career-image{
        width: 90%;
        height: 50%;
        margin: 0 auto;
    }

    .genre-container{
        max-width: 90%;
        margin: 0 auto;
    }

    .genre{
        padding: 4px;
        gap: 7px;
    }

    .genre img{
        width: 30px;
        height: 30px;
    }

    .genre h4{
        font-size: 0.7rem;
    }

    #mobile-display-none{
        display: none;
    }

    .footer-section{
        padding-bottom: 50px;
    }

    .footer-content{
        max-width: 280px;
        margin: 0 auto;
    }

    .white-footer-list .nav-footer-list{
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin-bottom: 55px;
    }

    .white-footer-list .nav-footer-list li a{
        font-size: 0.6rem;
    }

    .footer-icons{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .fade-footer-list{
        width: 65%;
        margin-bottom: 35px;
    }

    .fade-footer-list .nav-footer-list{
        flex-wrap: wrap;
    }

    .fade-footer-list .nav-footer-list li a{
        font-size: 0.5rem;
    }

    .footer-content p{
        font-size: 0.5rem;
    }

    .footer-content p span{
        display: block;
    }
}